<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>五角星评分</title>
		<style type="text/css">
		#ul1{padding:0; margin:0; list-style:none;  width:300px; height:28px;}
		#ul1 li{float:left; background:url(img/star.gif) no-repeat 0 0; width:27px; height:28px; }
		.active{ }
		.default{ }
		</style>
	</head>
	<body>
	<ul id="ul1" >
	<li class="default"> </li>
	<li class="default"> </li>
	<li class="default"> </li>
	<li class="default"> </li>
	<li class="default"> </li>
	</ul>
	<div id="div"></div>
	</body>
</html>
