<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	#app{
		width: 600px;
			margin: 30px auto;
	}
		.list{
			border-collapse: collapse;
			margin-top: 10px;			
		}

		.list th{
			padding: 5px;
			background-color: #0094ff;
			color:#fff;
			font-size: 16px;
			border:1px solid #000;
		}
		.list td{
			padding: 5px;
			border:1px solid #000;
		}
	</style>
	<script src="../vue1028.js"></script>
</head>
<body>
	<div id="app">
	<div>
		<input type="text" v-model="productid"  v-color color-name="red" >
		<input type="text" v-model="productname"  @keydown.f2="addProduct" >
		<button @click="addProduct">添加品牌</button>
	</div>

	<div>
		<input type="text" v-model="searchValue" v-focus >
	</div>
	
	<!-- 品牌列表区域 -->
	<table class="list">
	<tr>
		<th>编号</th>
		<th>品牌名称</th>
		<th>创建时间</th>
		<th>操作</th>
	</tr>
	<tr v-for="item in list | filterBy searchValue in 'name'" track-by="$index">
		<td>{{item.id}}</td>
		<td>{{item.name}}</td>
		<td>{{item.ctime | datefmt 'hh:mm:ss' 'hello' }}</td>
		<td>
			<a href="javascript:void(0)" @click="del2($index)">删除</a>
		</td>
	</tr>
	</table>
	</div>

	<script>
	Vue.directive('on').keyCodes.f2 = 113;

	//定义一个 v-focus的属性自定义指令
	Vue.directive('focus',function(){
		this.el.focus(); //实现文本框的自动获取焦点
	});

	//定义一个带有参数的自定义指令
	Vue.directive('color',{
		params:['colorName'],
		bind:function(){
			//1.0 获取到colorname的值
			var cname = this.params.colorName;

			//2.0 获取到el以后给其赋予一个样式
			this.el.style.color = cname;
		}
	});

	new Vue({
		el:'#app',
		filters:{
			datefmt:function(input,fmtstr,str){
				var date = new Date(input); 
				var year = date.getFullYear();
				var m = date.getMonth() + 1;
				var d = date.getDate();
				var h = date.getHours();
				var mi = date.getMinutes();
				var se = date.getSeconds();

				if(fmtstr =='yyyy-mm-dd')
				{
					//输出： yyyy-mm-dd
					return year+'-'+m +'-'+d;
				}else if(fmtstr =='hh:mm:ss'){
					return h+':'+mi +':'+se;
				}

				}
		},
		data:{
			list:[
				{id:1,name:'宝马',ctime:new Date()},
				{id:2,name:'奥迪',ctime:new Date()}
			],
			productid:0,
			productname:'',
			searchValue:'' //代表搜索文本框中的内容,通过v-model就能够自动同步到视图中的数据
		},
		methods:{
			//1.0 删除
			del:function(id){
				//将list数组中的对应的元素删除即可
				var index = this.list.findIndex(function(obj){
					return obj.id ==  id;
				});	

				//根据索引将list数组的数据删除了，这个时候会自动调用v-for进行重新生成数据
				this.list.splice(index,1);	
			},
			del2:function(index){
				this.list.splice(index,1);	
			},

			// 2.0 添加
			addProduct:function(e){
				// if(e.keyCode != 13){
				// 	return;
				// }
				// alert(this.productid + " ,"+this.productname);
				// 1.0 获取到页面上的数据
				var pobj = {id:this.productid,name:this.productname,ctime:new Date()};
				// 2.0 添加数据
				this.list.push(pobj);

				// 3.0 清空模型productid和productname的值
				this.productname ='';
				this.productid = 0;
			}
		}
	});
	</script>
</body>
</html>