<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>商品列表</title>
	</head>
	<script type="text/javascript" src="utils.js"></script>
	<body>
		<ul>
			<li><span>商品1</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
			<li><span>商品2</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
			<li><span>商品3</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
			<li><span>商品4</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
			<li><span>商品5</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
			<li><span>商品6</span><span>RMB45</span><span><a href="javascript:void(0)">加入购物车</a></span></li>	
		</ul>
		<a href="demo07.html">查看购物车</a>
	</body>

</html>