<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>qq延时提示符</title>
<style type="text/css">
body,div{margin:0;padding:0;}
.right{width:306px;height:530px;background:url(img/qq.png) no-repeat;position:absolute;right:15px;top:20px;}
#head{width:60px;height:60px;float:left;margin:44px 0 0 11px}
#left{width:279px;height:334px;background:url(img/prompt.png) no-repeat;position:absolute;top:60px;left:-282px;display:none;}
</style>
</head>
<body>
	<div class="page">
		<div class="right">
			<a href="###" id="head"></a>
			<div id="left"></div>
		</div>
	</div>
</body>
</html>
